<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="dep" type="com.foxminded.model.Department"*/-->

<body>
<div class="table" th:unless="${#lists.isEmpty(departments)}" th:fragment="departmentTable">
    <h2>Departments:</h2>
    <table class="table table-hover table-sm">
        <thead class="thead-dark">
        <tr>
            <th th:text="#{table.id}" scope="col">Id</th>
            <th th:text="#{table.name}" scope="col">Name</th>
        </tr>
        </thead>

        <tr th:each="dep : ${departments}">
            <th scope="row"><span th:text="${dep.id}"> null </span></th>
            <td><span th:text="${dep.name}"> null </span></td>
        </tr>
    </table>
</div>
</body>

</html>