<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="group" type="com.foxminded.model.Group"*/-->

<body>

<div class="table" th:unless="${#lists.isEmpty(allGroups)}" th:fragment="groupTable">
    <h2>Groups:</h2>
    <table class="table table-hover table-sm">
        <thead class="thead-dark">
        <tr>
            <th th:text="#{table.id}" scope="col">Id</th>
            <th th:text="#{table.name}" scope="col">Name</th>
        </tr>
        </thead>
        <tr th:each="group : ${allGroups}">
            <th scope="row"><span th:text="${group.id}"> null </span></th>
            <td><span th:text="${group.name}"> null </span></td>
        </tr>
    </table>
</div>
</body>

</html>