<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="studentCourse" type="com.foxminded.model.StudentCourse"*/-->

<body>

<div class="table" th:unless="${#lists.isEmpty(allStudentCourse)}" th:fragment="studentCourseTable">
    <h2>Relationship between students and courses:</h2>
    <table class="table table-hover table-sm">
        <thead class="thead-dark">
        <tr>
            <th th:text="#{table.id.student}" scope="col">Student Id</th>
            <th th:text="#{table.id.teacher}" scope="col">Course Id</th>
        </tr>
        </thead>
        <tr th:each="studentCourse : ${allStudentCourse}">
            <th scope="row"><span th:text="${studentCourse.studentId}"> null </span></th>
            <td><span th:text="${studentCourse.courseId}"> null </span></td>
        </tr>
    </table>
</div>
</body>

</html>